<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<staticContent>
	<mimeMap fileExtension=".json" mimeType ="application/json" />
	<remove fileExtension=".unityweb" />
	<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />	
	<mimeMap fileExtension=".data" mimeType ="application/binary" />
	<mimeMap fileExtension=".mem" mimeType ="application/binary" />
	<mimeMap fileExtension=".datagz" mimeType ="application/binary" />
	<mimeMap fileExtension=".jsgz" mimeType ="application/binary" />
	<mimeMap fileExtension=".memgz" mimeType ="application/binary" />
	<mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
</staticContent>
</system.webServer>
</configuration>